# Security
.env

# Database
chroma_db/

# Python caches
__pycache__/
*.pyc

# Test Data
student_notes.pdf
student_notes/
processed_notes/

# Ignore any file ending in _debug
*_debug.*

# Ignore any folder ending in _debug and all of its contents
*_debug/

# Chainlit
.chainlit/translations/
chainlit.md
